In [1]:
import pandas as pd
import os
from imageLabeler import ImageLabeler

def run_labeller():
    # remove test.png and put your images in ./data folder
    # lists files in your data folder
    files = os.listdir('./data')

    # Filter out non-image files
    image_files = [f for f in files if f.lower().endswith(('.png', '.jpg', '.jpeg'))]

    # only run when are ready to label everything, hard to debug, takes about 25-40 min to do this depending on your speed
    for image_file in image_files:
        image_path = os.path.join('./data', image_file)
        print(f"Labeling image: {image_file}")

        # label the image
        ImageLabeler(image_path)

run = True
if run:
    run_labeller()

Labeling image: CMC_CCM_2018_01_31_00_08_06_5586086013C.png
Coordinates: (844.0, 776.0, 899.0, 812.0), Label: 5
Coordinates: (841.0, 774.0, 899.0, 814.0), Label: 5
Coordinates: (842.0, 741.0, 899.0, 776.0), Label: 5
Coordinates: (845.0, 709.0, 900.0, 740.0), Label: 8
Coordinates: (844.0, 678.0, 899.0, 711.0), Label: 6
Coordinates: (847.0, 645.0, 900.0, 680.0), Label: 0
Coordinates: (846.0, 605.0, 905.0, 642.0), Label: 8
Coordinates: (852.0, 547.0, 903.0, 581.0), Label: 6
Coordinates: (848.0, 509.0, 905.0, 548.0), Label: 0
Coordinates: (852.0, 478.0, 904.0, 502.0), Label: 1
Coordinates: (845.0, 435.0, 903.0, 471.0), Label: 3
Coordinates: (846.0, 406.0, 906.0, 442.0), Label: C

In [2]:
df = pd.read_csv('labeled_data.csv')

df = pd.DataFrame([df.columns.values] + df.values.tolist())
df.columns = ['file_name', 'character', 'position']

df['file_name'] = df['file_name'].str.replace('./data/', '')
order_values = list(range(1, 12)) * (len(df) // 11) + list(range(1, (len(df) % 11) + 1))

df['order'] = order_values

df['position'] = df['position'].apply(lambda x: tuple(map(float, x.strip('()').split(', '))))

df['top_left'] = df['position'].apply(lambda x: (x[0], x[1]))
df['bottom_right'] = df['position'].apply(lambda x: (x[2], x[3]))

df.drop(columns=['position'], inplace=True)

df.to_csv('labeled_data_cleaned.csv', index=False)

df.head()

/var/folders/zh/hpr168d168lfz3k0mwcn9dsr0000gn/T/ipykernel_37474/2804283304.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df['file_name'] = df['file_name'].str.replace('./data/', '')

,file_name,character,order,top_left,bottom_right
0,CMC_CCM_2018_01_31_00_08_31_55860840194.png,5,1,"(849.0, 777.0)","(904.0, 812.0)"
1,CMC_CCM_2018_01_31_00_08_31_55860840194.png,5,2,"(848.0, 743.0)","(903.0, 777.0)"
2,CMC_CCM_2018_01_31_00_08_31_55860840194.png,8,3,"(850.0, 709.0)","(903.0, 741.0)"
3,CMC_CCM_2018_01_31_00_08_31_55860840194.png,6,4,"(846.0, 675.0)","(900.0, 709.0)"
4,CMC_CCM_2018_01_31_00_08_31_55860840194.png,0,5,"(846.0, 647.0)","(898.0, 680.0)"

In [3]:
data = pd.read_csv('./labeled_data_cleaned.csv')
data.head()

,file_name,character,order,top_left,bottom_right
0,CMC_CCM_2018_01_31_00_08_31_55860840194.png,5,1,"(849.0, 777.0)","(904.0, 812.0)"
1,CMC_CCM_2018_01_31_00_08_31_55860840194.png,5,2,"(848.0, 743.0)","(903.0, 777.0)"
2,CMC_CCM_2018_01_31_00_08_31_55860840194.png,8,3,"(850.0, 709.0)","(903.0, 741.0)"
3,CMC_CCM_2018_01_31_00_08_31_55860840194.png,6,4,"(846.0, 675.0)","(900.0, 709.0)"
4,CMC_CCM_2018_01_31_00_08_31_55860840194.png,0,5,"(846.0, 647.0)","(898.0, 680.0)"

In [4]:
data

,file_name,character,order,top_left,bottom_right
0,CMC_CCM_2018_01_31_00_08_31_55860840194.png,5,1,"(849.0, 777.0)","(904.0, 812.0)"
1,CMC_CCM_2018_01_31_00_08_31_55860840194.png,5,2,"(848.0, 743.0)","(903.0, 777.0)"
2,CMC_CCM_2018_01_31_00_08_31_55860840194.png,8,3,"(850.0, 709.0)","(903.0, 741.0)"
3,CMC_CCM_2018_01_31_00_08_31_55860840194.png,6,4,"(846.0, 675.0)","(900.0, 709.0)"
4,CMC_CCM_2018_01_31_00_08_31_55860840194.png,0,5,"(846.0, 647.0)","(898.0, 680.0)"
...,...,...,...,...,...
325,CMC_CCM_2018_01_31_00_08_06_5586086013C.png,6,7,"(852.0, 547.0)","(903.0, 581.0)"
326,CMC_CCM_2018_01_31_00_08_06_5586086013C.png,0,8,"(848.0, 509.0)","(905.0, 548.0)"
327,CMC_CCM_2018_01_31_00_08_06_5586086013C.png,1,9,"(852.0, 478.0)","(904.0, 502.0)"
328,CMC_CCM_2018_01_31_00_08_06_5586086013C.png,3,10,"(845.0, 435.0)","(903.0, 471.0)"
329,CMC_CCM_2018_01_31_00_08_06_5586086013C.png,C,11,"(846.0, 406.0)","(906.0, 442.0)"

In [5]:
import pandas as pd

def check_character_alignment(csv_file_path):
    # Load the CSV file
    df = pd.read_csv(csv_file_path)

    # Number of characters to check and length of file extension (e.g., for '.png')
    n_characters = 11
    file_extension_length = 4

    # List to store names of problematic files
    problematic_files = []

    # Process each file in the DataFrame
    for file_name, group in df.groupby('file_name'):
        # Extract the last 11 characters from the file name (excluding the extension)
        last_characters = file_name[-(n_characters + file_extension_length):-file_extension_length]

        # Concatenate characters from the DataFrame in the given order
        concatenated_characters = ''.join(group.sort_values(by='order')['character'].tolist())

        # Check if the concatenated characters match the last 11 characters of the filename
        if concatenated_characters != last_characters:
            problematic_files.append(file_name)

    return problematic_files

# Path to the CSV file
csv_file_path = './labeled_data_cleaned.csv'  # Replace with your actual CSV file path

# Perform the analysis
problematic_files = check_character_alignment(csv_file_path)

# Displaying the problematic file names
print("Problematic Files:", problematic_files)

Problematic Files: []